main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    margin-bottom: 20px;
}

input{
    margin-bottom: 20px;
}

h2{
    font-size: 30px;
}

#section-login{
    height: 100%;
    width: 450px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px 30px ;
    margin-top: 20px;
    margin-bottom: 10px;
}

